---
import CardEntrepreneurship from "../../components/CardEntrepreneuShip.astro";
import Layout from "../../layouts/Layout.astro";
import SpinnerLayout from "../../layouts/SpinnerLayout.astro";
import { getAllEntrepreneurships } from "../../services/get-all-entrepreneurship";
import type { Results } from "../../types/entrepreneurship.types";

export const prerender = true;
const titlePage = "Emprendimientos";
const { emprendimiento: entrepreneurship } =
  (await getAllEntrepreneurships()) as Results;
---

<Layout title={titlePage}>
  <article>
    <SpinnerLayout>
    <div class="grid p-5 grid-cols-2 md:grid-cols-3 gap-4">
      {
        entrepreneurship.map(
          ({ ed_nom, ed_est, ed_pos, img_princ, ed_idl }) => (
            <CardEntrepreneurship
              ed_nom={ed_nom}
              ed_est={ed_est}
              ed_pos={ed_pos}
              img_princ={img_princ}
              ed_idl={ed_idl}
            />
          )
        )
      }
    </div>
  </article>
</SpinnerLayout>
</Layout>
