---

import FormSearch from "../../components/preact/FormSearch";
import FiltersLayout from "../../layouts/FiltersLayout.astro";
import Layout from "../../layouts/Layout.astro";
import { getResultsRecords } from "../../services/get-results-records";
import { getAllSelects } from "../../services/get-selects-form";
import { getZones } from "../../services/get-zones";
import type { Results } from "../../types/selects.form.types";
import { parseQueryToObjt } from "../../utils/querys-format";

export const prerender = false;

const titlePage = "Barrios cerrados y countries";
const selects = (await getAllSelects()) as Results;

const { search } = Astro.url;

let filterData;
let zonesData;
// sacar el ? del url.search y convertirlo en un objeto
const queryObj = parseQueryToObjt(search.slice(1, search.length));

// Asegurar que el filtro viene del search
if (queryObj) {
  filterData = await getResultsRecords({ in_tpr: "COUNTRY", ...queryObj });
  zonesData = await getZones({ ...queryObj });
} else {
  filterData = await getResultsRecords({ in_tpr: "COUNTRY" });
  zonesData = (await getZones()) as any;
}
---

<Layout title={titlePage}>
  <article>
    <h1
      class="tracking-tighter text-5xl mb-10 text-gray-100 dark:text-gray-100"
    >
      Barrios cerrados y countries
    </h1>
    <FormSearch client:load zones={zonesData} />
    <FiltersLayout selects={selects} list={filterData} zones={zonesData} />
  </article>
</Layout>
