---
const {pathname} = Astro.url
export interface CardDetails {
    ed_idl:string;
	ed_nom: string
	ed_est: string
	ed_pos: string
	img_princ: string
}
const { ed_nom , ed_est,ed_pos, img_princ,ed_idl:id} = Astro.props as CardDetails;
// El problema es que me agrega emprendimineto//id cuando es production 
// y en local no lo hace 

---
	
<a href={`${ pathname.substring( pathname.lastIndexOf('/') + 1)}/${id}`} class="relative block shadow-md rounded-lg overflow-hidden no-underline bg-slate-950">
    <div class="relative overflow-hidden">
        <img
        style=`view-transition-name: entrepreneurship-${id}`
        class="w-full h-48 object-cover transition duration-300 opacity-90 hover:opacity-100" src={img_princ} alt={ed_nom}>
        <div class="absolute top-0 left-0 w-full h-full bg-black text-white opacity-0 hover:opacity-90 transition duration-300 flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight">{ed_nom}</h5>
            <span class="inline-block  w-fit bg-blue-500 text-white text-xs font-semibold px-2 py-1 rounded-sm mb-2"> {ed_est.replace('&oacute;', 'รณ')}</span>
            <p class="mb-3 bg-blue-500font-normal text-gray-300">{ed_pos}</p>
        </div>
    </div>
</a>
