---
import type { File } from "../types/results.records.types";
import { parseQueryString } from "../utils/querys-format";
import AddToCartFavForm from "./preact/Favorites/AddToCartFavForm";
interface Props {
  cardData: File;
}

const { cardData } = Astro.props;
---

<div class="shadow-lg rounded-lg overflow-hidden relative bottom-0">
  <img
    alt="property image"
    class="w-full h-48 object-cover"
    src={cardData?.img_princ}
    style="aspect-ratio: 16/9; object-fit: cover;"
  />
  <div class="p-4 bg-gray-500 text-white">
    <div class="h-[170px] flex flex-col space-y-2">
      <h3 class="h-100 text-lg font-semibold">
        {cardData.direccion_completa} - {cardData?.in_bar}
      </h3>
      <p class="h-100 text-sm">{cardData.titulo}</p>
      <p class="h-100 text-sm">
        {cardData?.ambientes_num} Ambientes | {cardData?.dormitorios}
         Dormitorios
      </p>
      <div class="flex justify-between items-center">
        <span class="text-xs w-fit bg-slate-600 text-white px-2 py-1 rounded"
          >{cardData?.precio}</span
        >
        <div>
          <span class="text-xs w-fit bg-slate-600 text-white px-2 py-1 rounded"
            >{cardData?.in_suc}</span
          >
          <span class="text-xs w-fit bg-slate-600 text-white px-2 py-1 rounded"
            >{cardData?.in_num}</span
          >
        </div>
      </div>
    </div>
    <div class="flex justify-between items-end mt-3">
      <div class="flex gap-1">
        <span class="text-xs bg-red-500 text-white px-2 py-1 rounded"
          >{cardData.operacion}
        </span>
        {
          (
            <AddToCartFavForm item={cardData} client:visible>
              Fav
            </AddToCartFavForm>
          )
        }
      </div>
      <a
        href={`/search/detail/${cardData.in_num}/${parseQueryString(
          cardData?.direccion_completa
        )}`}
        data-astro-prefetch="hover"
        class="text-xs text-white cursor-pointer border border-red-500 px-2 py-1 rounded hover:bg-red-500 hover:text-white"
      >
        Ver más
      </a>
    </div>
  </div>
</div>
